@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    margin: 0;
    font-family: "Open Sans","OpenSans",sans-serif;
    font-size: 16px;
    line-height: 1.35;
  }

.clearfix {
    clear: both;
}

h1 {
    font-size: 28px;
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 200;
    letter-spacing: 1px;
}

h3 {
    font-size: 2.25rem;
    font-weight: lighter;
    letter-spacing: 1px;
    font-family: sans-serif;
}

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding: 5px 0;
    height: 25px;
    font-size: 1rem;
    letter-spacing: .6px;
    vertical-align: middle;
      
}
  
nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    
    
}

.top-links {
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}
  
.top-links li {
    display: inline-block;
    margin: 0 10px;    
}

.top-left {
    display: inline-block;
}

.heart{
    margin:0 15px;
}

header {
    color: white;
    background: rgb(32, 101, 136);
    background-image: url("images/city-scape.svg");
    background-size: cover;
    height: 425px;
}

.header-search {
    width: 100%;
    height: 100px;
    margin-left: 20px;
}

.logo-npm {
    width: 125px;
    height: 50px;
    float: left;
    padding: 24px 10px;
}

.search {
    float: left;
    padding: 23px 0;
}

.search-bar {
    float: left;
    width: 1420px;
    height: 50px; 
    background-color: rgb(31, 82, 111);
    border: none;
    text-indent: 15px; 
    border: .1em solid lightgrey;  
}

.icon {
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(31, 82, 111);
    border: .1em solid lightgrey;
}


.log-cont {
    float: left;
    padding: 26px 20px;
    margin-left: 7px;
}

.log-text {
    color: white;
    text-decoration: none;
}

.header-text {
    width: 50%;
    margin: -20px auto;
    height: 350px;   
}

.logo-bear {
    width: 40px;
    height: 40px;
    vertical-align: middle; 
}

.header-text p {
    font-size: 16px;
    font-weight: 100; 
    margin-top: -10px; 
}

.header-button {
    background-color: rgb(240, 146, 51);
    text-decoration: none; 
    text-align: center;
    font-size: 18px;
    color: white;
    height: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    margin-top: 30px;
    width: 130px;
}

#section1 {
    background-color: rgb(39, 53, 71);
    height: 400px;
    margin: 0;
}

.section1 {
    width: 70%;
    margin: auto;
}

#section1 img {
    width: 50%;
    float: left;
    
}

.img-collaboration {
    height: 250px;
    margin: 70px 0 40px 50px;
}

.section1-text {
    width: 45%;
    float: right;
    margin: 60px 0 0 5px;
    color: white;
}

#section1 h2 {
    margin: 0 0 5px 0;
}

#section1 ul {
    font-size: .9rem;
    font-weight: 200;   
    margin: 0 0 15px 0;
    padding: 0 15px;;
}

#section1 li {
    line-height: 2.25em;
}

#section1 a {
    text-decoration: none;
    color: white;
    margin-bottom: -10px;
}

.section1-button {
    background-color: rgb(203, 56, 55);
    text-decoration: none; 
    text-align: center;
    font-size: 18px;
    color: white;
    height: 20px;
    border-radius: 20px;
    display: block;
    width: 25%;
    padding: 10px 20px; 
}

#section2 {
    background-image: url("images/forklift.svg");
    color: white;
    background-size: cover;
    height: 400px;
    line-height: 1.35em;;
}

.section2-container {
    width: 52.5%;
    margin: 0 auto;
    padding-top: 30px;
}

#section2 p {
    margin-top: 40px;;
}

.section2-button {
    background-color: rgb(49, 68, 88);
    text-decoration: none;
    text-align: center;
    color: white;
    height: 20px;
    border-radius: 20px;
    display: block;
    width: 9%;
    padding: 10px 20px;
    margin-top: 25px;
}

#section3 {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 45px 80px 0;
}

.section3-header h2{
    color: rgb(83, 88, 98);
    text-align: center;
}

.section3-header p{
    color: rgb(135, 145, 156);
    text-align: center;
    margin-bottom: 35px;
}

.section3-articles {
    text-align: center;
}

.section3-articles img {
    width: 100px;
    height: 100px;
}

.section3-articles a {
    color: rgb(208, 74, 73);
    text-decoration: none;
}

.col {
    float:left;
}

.col3 {
    width: 33%;
}





